{% extends 'base.html' %}

{% block content %}
<div class="glass-card">
	<h1>Create an Account</h1>
	<form class="site-form form-style" action="." method="post">
		{% csrf_token %}
		{{ form }}
		<button class="btn-primary" type="submit" style="margin-top: 1.5rem;">Sign Up</button>
	</form>
</div>
<script type="text/javascript">
	const spans = document.getElementsByTagName("span");
	if(spans.length >= 2) {
		spans[0].innerHTML="";
		spans[1].innerHTML="";
	}
</script>
{% endblock %}
